*
!packages/*
packages/webui/*
packages/webui-components/*
packages/jsg-ui/*
packages/webcomponent/*
!packages/webui/build
packages/**/node_modules
!yarn.lock
!.yarnrc
!package.json
!npm-packages-offline-cache
!scripts/workspace-util.js
!packagejsons
!deployment/single
