docs/
packages/mqtt
packages/stream/kafka/examples
packages/stream/kafka/docker
packages/gateway-client-proxy/webpack.config.js
packages/gateway/src/public
packages/jsg-comp-core/server
packages/jsg-comp-ui/gettingstarted
packages/jsg-comp-ui/gulp-tasks
packages/jsg-comp-ui/scripts
packages/jsg-core/gulpfile.js
packages/jsg-core/gulp-tasks
packages/jsg-core/example-websocket
packages/jsg-core/gettingstarted
packages/jsg-core/test/CyclicDependencyDetection.test.js
packages/jsg-ui/test
packages/jsg-ui/firststeps
packages/jsg-ui/example-websocket
packages/jsg-ui/gettingstarted
packages/jsg-ui/scripts
packages/jsg-ui/src/includes.js
packages/jsg-ui/src/ui/events/hammer.js
packages/webui/config
packages/webui/public
packages/webui/scripts
**/node_modules
**/coverage
**/dist
**/built
**/build
# TODO: Fix the following
packages/cli
packages/machine-test-runner
packages/machine-graphmodel
packages/machine-graphview
packages/webcomponent/demo
#packages/webcomponent/streammachine
