docs/
packages/mqtt
packages/stream/kafka/examples
packages/stream/kafka/docker
packages/gateway-client-proxy/webpack.config.js
packages/gateway/src/public
packages/jsg-core/test/CyclicDependencyDetection.test.js
packages/jsg-ui/scripts
packages/jsg-ui/src/includes.js
packages/webui/config
packages/webui/public
packages/webui/scripts
**/node_modules
**/coverage
**/dist
**/built
**/build
# TODO: Fix the following
packages/cli
packages/machine-test-runner
packages/machine-graphmodel
packages/machine-graphview
packages/webcomponent/demo
#packages/webcomponent/streammachine
